.page {
  font-family: 'Inter', 'Arial', sans-serif;
  min-width: 320px;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
