.profile__avatar {
margin: 0 auto;
  max-width: 120px;
  max-height: 120px;
  flex-shrink: 0;
  position: relative;
  margin-top: 42px;
}

@media (min-width: 1024px) {
  .profile__avatar {
    grid-area: picture;
    margin-right: 30px;
    margin-left: 0;
  }
}


